.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.top-section {
  display: flex;
  gap: 10px;
  height: 2rem;
  align-items: center;
  width: 100px;
}

.top-section img {
  height: 80%;
}

.top-section .title {
  color: var(--lightBlue);
  font-size: 0.6rem;
  font-weight: 400;
  width: min-content;
}

.grid-item .value {
  color: var(--darkBlue);
  font-size: 1.6rem;
  font-weight: 700;
}